<h4 id="{{include.content}}">{{include.para}} {{include.content}}</h4>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.resource}}?patient=[reference]&policy=[policyreference]</div>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.resource}}?patient=https://demographics.spineservices.nhs.uk/STU3/Patient/4505577104&policy=https://www.gov.uk/NDOP-Policy-Example-v1.0.pdf
</span></code>
Return {{include.resource}} resource that has a patient reference of {{include.text1}} and a policy of {{include.text2}} .</pre>
</div>
