<h3 id="consent">{{include.content2}}</h3>

<p>Return all live records that exist for patient 4505577104</p>

<div markdown="span" class="alert alert-success" role="alert">
GET {{include.base}}{{include.resource}}?patient=[NHS Number]</div>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET {{include.base}}{{include.resource}}?patient=https://demographics.spineservices.nhs.uk/STU3/Patient/4505577104
</span></code>
Return {{include.resource}} resource that has a patient reference of {{include.nhsno}}.</pre>
</div>



<p>See <a href="https://www.hl7.org/fhir/searchparameter-registry.html">reference</a> for details on this parameter.</p>